body {
  background-image: linear-gradient(135deg, #0CD65F, #0067D6);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: white;

}
a {
  text-decoration: none;
  color: white;
}
.main-container {
  width: 65%;
  margin: 0 auto;
}
li {
  display: inline-block;
  margin: 0 auto;
}
.active {
  display: inline-block;
}

section {
  display: none;
}

.imageThumb {
  width: 200px;
  height: 200px;
  border: 4px solid white;

}

.albumcover {
  width: 200px;
  height: 200px;
  border: 4px solid white;
}

ul {
  list-style: none;
  padding: 0;
}
aside.sidebar {
  width: 15%;
  margin: 0;
  display: inline-block;
}
aside button {
  margin-top: 30%;
}

.album-container {
  width: 84%;
  float: right;
}
.large {
  display: inline-block;
  width: 500px;
  height: 500px;
  margin-top: 2%;
  border: 4px solid white;
}
.photo button {
  margin: 0 auto;
  display: block
}
