body {
  background-color: #297F7e;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: white;

}
a {
  text-decoration: none;
  color: white;
}
.main-container {
  width: 70%;
  margin: 0 auto;
}
li {
  display: inline-block;
  margin: 0 auto;
}
.active {
  display: inline-block;
}

section {
  display: none;
}

.imageThumb {
  width: 200px;
  height: 200px;

}

.albumcover {
  width: 200px;
  height: 200px;
}

ul {
  list-style: none;
  padding: 0;
}
aside.sidebar {
  width: 15%;
  margin: 0;
  display: inline-block;
}

.album-container {
  width: 84%;
  float: right;
}
